<div class="cont">

    <div class="demo-gallery">
 

    <!-- Hidden video div -->
    <div style="display:none;" id="video1">
        <video class="lg-video-object lg-html5" controls preload="none">
            <source src="https://youtu.be/pOcNXLcGy78" type="video/mp4">
             Your browser does not support HTML5 video.
        </video>
    </div>
    <div style="display:none;" id="video2">
        <video class="lg-video-object lg-html5" controls preload="none">
            <source src="https://youtu.be/pOcNXLcGy78" type="video/mp4">
             Your browser does not support HTML5 video.
        </video>
    </div>
     
    <!-- data-src should not be provided when you use html5 videos -->

     <ul id="html5-videos">

       <li data-poster="https://sachinchoolur.github.io/lightGallery/static/img/1-375.jpg" 
       data-sub-html="video caption1" data-html="#video1" >
      <a href="">
        <img class="img-responsive" src="https://sachinchoolur.github.io/lightgallery.js/static/img/thumb-2.jpg">
        <div class="demo-gallery-poster">
          <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
        </div>
      </a>
    </li>

    <li data-poster="https://sachinchoolur.github.io/lightGallery/static/img/2-375.jpg" 
    data-sub-html="video caption2" data-html="#video2" >
   <a href="">
     <img class="img-responsive" src="https://sachinchoolur.github.io/lightgallery.js/static/img/thumb-2.jpg">
     <div class="demo-gallery-poster">
       <img src="https://sachinchoolur.github.io/lightgallery.js/static/img/zoom.png">
     </div>
   </a>
 </li>

    </ul>

    </div>
  </div>