<div class="cont">

    <div class="demo-gallery">
 

    <!-- Hidden video div -->
    <div style="display:none;" id="video1">
        <video class="lg-video-object lg-html5" controls preload="none">
            <source src="https://youtu.be/pOcNXLcGy78" type="video/mp4">
             Your browser does not support HTML5 video.
        </video>
    </div>
    <div style="display:none;" id="video2">
        <video class="lg-video-object lg-html5" controls preload="none">
            <source src="https://youtu.be/pOcNXLcGy78" type="video/mp4">
             Your browser does not support HTML5 video.
        </video>
    </div>
     
    <!-- data-src should not be provided when you use html5 videos -->
    <ul id="html5-videos">
      <li data-poster="https://sachinchoolur.github.io/lightGallery/static/img/1-375.jpg" data-sub-html="video caption1" data-html="#video1" >
          <img src="img/thumb1.jpg" />
      </li>
      <li data-poster="https://sachinchoolur.github.io/lightGallery/static/img/2-375.jpg" data-sub-html="video caption2" data-html="#video2" >
          <img src="img/thumb2.jpg" />
      </li>
      ...
    </ul>

    </div>
  </div>